/*Banquetes*/
.banq{
	margin-bottom: 5%;
}
button{
	background-color: transparent;
	padding: 0% !important;
}
.icono{
	border: .5em solid gray;
	border-radius: 10em !important;
	margin-left: 22% !important;
}
h3{
	color: #B30000 !important;
	text-shadow: -4px -2px 16px rgba(0, 0, 0, 1);
}
/*Slider-modal*/
.im-car{
	width: 100%;
}
.fa-chevron-right, .fa-chevron-left{
	margin-top: 80%;
}
.circle{
	border-radius: 100%;
	padding: 2em;
}
.icono:hover{
	border-color: #B30000;
}
.circle img{
	height: 100%;
	width: 100%;
}
.modal-content{
	background-color: transparent !important;
	padding-top: 0%;
}
.modal-body p {
	font-size: 1.5em !important;
}
.modal-body .fa-chevron-left, .modal-body .fa-chevron-right{
	margin-top: 5em !important;
}
.modal-title{
	color:#B30000;
}
.modal-img{
	height: 10em;
}
/*-----*/
.tit h2{
	margin-bottom: 8%;
	color:#B30000;
	font-size: 300% !important;
}
.mg-7{
	margin: 7%;
}
.text-center{
	text-align: center;
}
.mt-3{
	margin-top: 10%;
}
/*Cambio Japones*/
.serv{
	text-align: center;
}
.serv:before{
	font-size: 1em;
}
.serv:hover:before{
	font-size:.8em;
	font-weight: bolder;
	color:  #b91817;
	font-family:'Righteous', cursive !important;
}
#link-s1:before {
	content:"Catering";
}
#link-s1:hover:before {
	content:"ケータリング";
}
#link-s2:before {
	content:"Mobiliario";
}
#link-s2:hover:before {
	content:"備品";
}
#link-s3:before {
	content:"Meseros";
}
#link-s3:hover:before {
	content:"ウェイター";
}
@media only screen and (max-width : 1024px) {
	.tit h2{
		margin-top: 10%;
	}
}
@media screen and (max-width: 600px) {
	.tit h2{
		margin-top: 12%;
	}
}